# Build folders
bin/
obj/

# Git
.git/
.gitignore

# VS Code
.vscode/

# Rider / JetBrains
.idea/

# Logs
*.log
logs/

# Docker
Dockerfile*
docker-compose*

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/

